/* Written by Fadlan Aria P.N. */
/* This is a CSS file. This is where the styling is contained. */

/* Fonts: 'Teachers' 'Teko' 'Noto Sans KR' 'Noto Sans JP' 'Lato' 'Bungee Tint' 'Open Sans' 'Exo 2' 'Bebas Neue' */
/* Image Links: https://static.wikia.nocookie.net/projectwingman/images/6/69/Cascadiaflag.png/revision/latest?cb=20201212143215
                https://static.wikia.nocookie.net/projectwingman/images/5/58/LOGO_Sicario.png/revision/latest?cb=20210304033924
                https://www.lockheedmartin.com/content/dam/lockheed-martin/au/photo/2023/news/F35-LMA-800.jpg
                https://live.staticflickr.com/65535/49166664617_8503db74c6_b.jpg
                https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMxZxqU8V_DyUviwkaCHSA2Li8ofpKkLsy_A&s
*/

/* Nav bar stuff. */
nav{
    display: flex;
    border: 1px solid black;
    border-radius: 16px;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height: 66px;
}
.logo-und-icon{
    background-image: url(https://static.wikia.nocookie.net/projectwingman/images/5/58/LOGO_Sicario.png/revision/latest?cb=20210304033924);
    border-radius: 50px;
    height: 48px;
    width: 48px;
    background-size: cover;
    margin-left: 8px;
}
.nav-stuff{
    border: 1px solid;
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: lighter;
    padding: 8px;
    border-radius: 8px;
    font-family: 'Teachers', sans-serif;
    color: white
}
#nav-options{
    margin-right: 15px;
    display: flex;
}
#hm{
    border-radius: 8px 0px 0px 8px;
}
#op{
    border-radius: 0;
}
#po{
    border-radius: 0;
}
#mu{
    border-radius: 0px 8px 8px 0px;
}

/* Main section. */
.banner{
    /* border-radius: 16px; */
    height: 500px;
    background-image: url(https://static.wikia.nocookie.net/projectwingman/images/6/69/Cascadiaflag.png/revision/latest?cb=20201212143215);
    background-size: cover;
    background-position: center;
    margin-left: 25px;
    margin-right: 25px;
}
#wilkommen{
    font-family: 'Exo 2', sans-serif;
    margin-left: 25px;
    margin-right: 25px;
}
#topsection p{
    font-family: 'Lato', sans-serif;
    margin-left: 25px;
    margin-right: 25px;
}
#profiletext{
    font-family: 'Exo 2', sans-serif;
    text-align: center;
}
.profile-items{
    border: 1px transparent;
    height: 200px;
    display: flex;
    flex-direction: column;
    text-align: -webkit-center;
    align-items: center;
}
.profile-items h2{
    font-family: 'Teachers', sans-serif;
    font-size: 20px
}
.profile-img1{
    background-image: url(https://www.lockheedmartin.com/content/dam/lockheed-martin/au/photo/2023/news/F35-LMA-800.jpg);
    border: 1px transparent;
    height: 100px;
    background-size: cover;
    border-radius: 50%;
    width: 100px;
    background-position: center;
}
.profile-img2{
    background-image: url(https://live.staticflickr.com/65535/49166664617_8503db74c6_b.jpg);
    border: 1px transparent;
    height: 100px;
    background-size: cover;
    border-radius: 50%;
    width: 100px;
    background-position: center;
}
.profile-img3{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMxZxqU8V_DyUviwkaCHSA2Li8ofpKkLsy_A&s);
    border: 1px transparent;
    height: 100px;
    background-size: cover;
    border-radius: 50%;
    width: 100px;
    background-position: center;
}
#profdetails{
    display: flex;
    justify-content: space-around;
    margin: auto;
}

/* The footer. */
footer p{
    font-family: "Bebas Neue", sans-serif;
    text-align: end;
    font-size: 24px;
}

/* Form goes here. */
#form-container{
    width: 50%;
    margin: auto;
    margin-left: 25px;
    display: flex;
}
#the-form{
    width: 95%;
}
.rows{
    width:100%;
    display:block;  
}
.column{
    width:100%;
    display:inline-block;      
}
.labels{  
    width:30%;
    float: left;
    font-family: 'Lato', sans-serif;
}
.inputs{
    width: 60%;
    float: right;
    padding-inline-start: 0px;
    border-radius: 4px;
}
#message{
    height: 85px;
}
#submit{
    width: 100%;
    font-family: 'Exo 2';
    height: 30px;
}
#male-label{
    font-family: 'Exo 2';
}
#fem-label{
    font-family: 'Exo 2';
}
#male{
    margin: auto;
}
#fem{
    margin: auto;
}
#gender-label{
    width: 39%;
}

/* Responsiveness for the options. DONE: Try to actually integrate the thing. */
@media (max-width: 800px) {
    #nav-options {
      scale: 80%;
      flex-wrap: nowrap;
      margin-right: -8px;
    }
}
@media (max-width: 800px) {
    .labels {
      width: 33%;
      font-size: 14px;
    }
}
@media (max-width: 800px) {
    #form-container {
      width: 80%;
    }
}
@media (max-width: 800px) {
    .inputs {
      width: 55%;
    }
}
@media (max-width: 800px) {
    #message {
      height: 100px;
    }
}
@media (max-width: 800px) {
    .profile-items {
      scale: 80%;
    }
}
@media (max-width: 800px) {
    #gender-label {
      width: 43%;
    }
}